$mustardy: #586875;
$hover-red: #7a8ea0;
$light-gray: #F5F5F5;

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;

  .video-wrapper {
    position: relative;
    width: 45%;
    max-width: 400px;
    flex: 1 1 45%;

    video {
      width: 100%;
      height: auto;
      border: $mustardy;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

// Centering the button container
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; // Space from videos
  width: 100%;
  gap: 40px;
}

// Styled button
.start-call-button {
  background-color: #7a8ea0;
  color: #F5F5F5;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $mustardy;
  }
}

@media (min-width: 1024px) {
  .video-container {
    height: 80vh; // Allows the videos to take more screen space
  }

  .video-wrapper {
    width: 48%;
    max-width: 600px;
    flex: 1 1 48%;
  }
}

@media (max-width: 768px) {
  .video-container {
    flex-direction: row;
    overflow-x: auto; // Allows scrolling if necessary
  }

   .video-wrapper {
    flex: 1 1 50%; // Keeps both videos equal
    max-width: 50%; // Ensures they don’t take too much space
  }
}
