$navy-blue: #001F3F; // Deep navy background
$baby-blue: #ADD8E6;



.header {
  text-align: center; // Centers text horizontally
  font-size: 2.5rem; // Adjust size as needed
  font-weight: bold;
  color: $baby-blue;
  margin: 20px 0; // Adds spacing around the header
}
